<a href="https://colab.research.google.com/github/snehs19space/Tech-Saksham_GB-Pant/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Variables

In [10]:
# @title Creating Variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [11]:
# @title Type Casting in Python
x = str(3)
y = int(3)
z = float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# @title Global Variables
def myfunc():
  global x
  x = "great."
myfunc()
print("Python is " + x)

Python is great.

### Python​ Data Types

In [25]:
# @title Getting the Data Type
a = "Hello World"
b = 20
c = 20.5
d = ["apple", "banana", "cherry"]
e = ("apple", "banana", "cherry")
f = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'bool'>

In [26]:
# @title Python Numbers Data Types
x = 1
y = 2.8
z = 1j+10
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
# @title Python Sequence Data Types
li=[1,2,'mango', "R", 5,True, 3+2j]
tup=(1,2,'mango', "R", 5,True, 3+2j)
dict={1:'one', 2:'two',3:'Three'}
set={'a','b','c','d','e','f'}
print(type(li))
print(type(tup))
print(type(dict))
print(type(set))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [28]:
# @title Python Special Data Types
a=True
b=False
c=None
print(type(a))
print(type(b))
print(type(c))

<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [29]:
# @title Type Conversion in Python
x = 1
y = 2.8

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(x)," -> ",type(a))
print(type(y)," -> ",type(b))
print(type(x)," -> ",type(c))

1.0
2
(1+0j)
<class 'int'>  ->  <class 'float'>
<class 'float'>  ->  <class 'int'>
<class 'int'>  ->  <class 'complex'>

### Python​ Operators

In [30]:
# @title Arithmetic Operators
a = 7
b = 2
print ('Sum: ', a + b)
print ('Subtraction: ', a - b)
print ('Multiplication: ', a * b)
print ('Division: ', a / b)
print ('Floor Division: ', a // b)
print ('Modulo: ', a % b)
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [31]:
# @title Assignment Operators
a = 10
b = 5
a += b
print(a)
a -= b
print(a)

15
10

In [32]:
# @title Comparison Operators
a = 5
b = 2
print('a = ', a)
print('b = ', b)
print('a == b =', a == b)
print('a != b =', a != b)
print('a > b =', a > b)
print('a < b =', a < b)
print('a >= b =', a >= b)
print('a <= b =', a <= b)

a =  5
b =  2
a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [33]:
# @title Logical Operators
print(True and True)
print(True or False)
print(not True)

True
True
False

In [34]:
# @title Bitwise operators
a=10
b=6
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a << 2)
print(a >> 1)

2
14
-11
12
40
5

In [35]:
# @title Identity Operators
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [36]:
# @title Membership Operators
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

print('H' in message)
print('hello' not in message)
print(1 in dict1)
print('a' in dict1)

True
True
True
False