<a href="https://colab.research.google.com/github/snehs19space/Tech-Saksham_GB-Pant/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Lists

In [5]:
# @title List Definition
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

In [6]:
# @title Length of List
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [7]:
# @title List Indexing and Slicing
list = [1,2,3,4,5,6,7]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[0:6])
print(list[:])
print(list[2:5])
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [8]:
# @title List Methods
my_list = [3, 1, 4, 1, 5]
print("Initial List:", my_list)

my_list.append(9)
print("After append(9):", my_list)

temp_list = my_list.copy()
temp_list.clear()
print("After clear():", temp_list)

copied_list = my_list.copy()
print("Copied List:", copied_list)

count_of_1 = my_list.count(1)
print("Count of 1:", count_of_1)

my_list.extend([2, 6])
print("After extend([2, 6]):", my_list)

index_of_5 = my_list.index(5)
print("Index of 5:", index_of_5)

my_list.insert(2, 7)
print("After insert(2, 7):", my_list)

popped_item = my_list.pop(3)
print(f"After pop(3): {my_list}, Popped Item: {popped_item}")

my_list.remove(1)
print("After remove(1):", my_list)

my_list.reverse()
print("After reverse():", my_list)

my_list.sort()
print("After sort():", my_list)

Initial List: [3, 1, 4, 1, 5]
After append(9): [3, 1, 4, 1, 5, 9]
After clear(): []
Copied List: [3, 1, 4, 1, 5, 9]
Count of 1: 2
After extend([2, 6]): [3, 1, 4, 1, 5, 9, 2, 6]
Index of 5: 4
After insert(2, 7): [3, 1, 7, 4, 1, 5, 9, 2, 6]
After pop(3): [3, 1, 7, 1, 5, 9, 2, 6], Popped Item: 4
After remove(1): [3, 7, 1, 5, 9, 2, 6]
After reverse(): [6, 2, 9, 5, 1, 7, 3]
After sort(): [1, 2, 3, 5, 6, 7, 9]

In [9]:
# @title List Comprehension
nlist = [i for i in range(15)]
print("List of numbers from 0 to 14 : ", nlist)

mlist = [p for p in range(7) if p < 3]
print("List of numbers less than 3 from the range 0 to 6 : ", mlist)

d = [w**2 for w in range(11)]
print("List of squares of numbers from 0 to 10 using List Comprehension : ", d)

pairs = [(a, b) for a in [1, 2, 3, 4] for b in [5, 2, 4] if a != b]
print("Paired List:", pairs)

List of numbers from 0 to 14 :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List of numbers less than 3 from the range 0 to 6 :  [0, 1, 2]
List of squares of numbers from 0 to 10 using List Comprehension :  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Paired List: [(1, 5), (1, 2), (1, 4), (2, 5), (2, 4), (3, 5), (3, 2), (3, 4), (4, 5), (4, 2)]

### Python Tuples

In [10]:
# @title Tuple Definition
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [11]:
# @title Tuple vs String
thistuple = ("apple",)
print(thistuple, " -> ",type(thistuple))

thistuple = ("apple")
print(thistuple, " -> ",type(thistuple))

('apple',)  ->  <class 'tuple'>
apple  ->  <class 'str'>

In [12]:
# @title Tuple Indexing and Slicing
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")
print(tuple_[1])
print(tuple_[4])
print("Elements between indices 1 and 3: ", tuple_[1:3])
print("Elements between indices 0 and -4: ", tuple_[:-4])
print("Entire tuple: ", tuple_[:])

Tuple
Collection
Elements between indices 1 and 3:  ('Tuple', 'Ordered')
Elements between indices 0 and -4:  ('Python', 'Tuple')
Entire tuple:  ('Python', 'Tuple', 'Ordered', 'Immutable', 'Collection', 'Objects')

### Python Dictionaries

In [4]:
# @title Dictionary Definition
Employee = {"Name": "Johnny", "Age": 32, "salary":26000,"Company":"TCS"}
Employee

{'Name': 'Johnny', 'Age': 32, 'salary': 26000, 'Company': 'TCS'}

In [3]:
# @title Dictionary Example
word_count={}
word = "Adventure"
for i in word:
  word_count[i] = word_count.get(i,0)+1
print(word_count)

{'A': 1, 'd': 1, 'v': 1, 'e': 2, 'n': 1, 't': 1, 'u': 1, 'r': 1}

### Python Sets

In [13]:
# @title Set Definition
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
print(Days)

{'Wednesday', 'Thursday', 'Monday', 'Friday', 'Tuesday', 'Saturday', 'Sunday'}

In [14]:
# @title Set Example
Days = set(["M", "T", "W", "S", "F", "T", "S"])
print(Days)

{'S', 'M', 'W', 'F', 'T'}